
  <div id="logo_div">
    <ion-text color="medium">
      <p>{{title ? title : ''}}</p>
      <img src="../../../assets/icon/favicon.png" >
      <h1 class="ion-text-center"> iFinanças</h1>
    </ion-text>
  </div>

